<div class="card-container">
  <div class="card">
    <h2 class="card-title">Оставьте комментарий</h2>
    <p class="card-subtitle">Поделитесь своим мнением или задайте вопрос!</p>
    <div class="social-icons">
      <a href="https://www.youtube.com" target="_blank" class="social-icon youtube"><i class="fab fa-youtube"></i></a>
      <a href="https://www.facebook.com" target="_blank" class="social-icon facebook"><i class="fab fa-facebook"></i></a>
      <a href="https://www.instagram.com" target="_blank" class="social-icon instagram"><i class="fab fa-instagram"></i></a>
      <a href="https://twitter.com" target="_blank" class="social-icon twitter"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="related-posts">
      <h3>Также предлогаем:</h3>
      <ul>
        <li><a href="#" class="related-link">Пирог с баклажанами</a></li>
        <li><a href="#" class="related-link">Закрытый пирог из творожного теста с сыром</a></li>
        <li><a href="#" class="related-link">Киш со шпинатом и творогом</a></li>
      </ul>
      <button class="reaction-button repost-button">
        <i class="fas fa-retweet"></i> Репост
      </button>
      <button class="reaction-button like-button">
        <i class="fas fa-heart"></i> Нравится
      </button>
    </div>
    <form class="comment-form">
      <textarea placeholder="Напишите ваш комментарий..." class="comment-input"></textarea>
      <button type="submit" class="comment-button">Опубликовать комментарий</button>
    </form>
  </div>
</div>
