<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${blog.title}"></title>
</head>
<body>
    <h1 th:text="${blog.title}"></h1>
    <p th:text="${blog.description}"></p>
    <p>Дата создания: <span th:text="${#dates.format(blog.createdAt, 'dd.MM.yyyy')}"></span></p>
    <p>Дата последнего обновления: <span th:text="${#dates.format(blog.updatedAt, 'dd.MM.yyyy')}"></span></p>

    <!-- Информация о рецепте -->
    !-- Отображение изображения рецепта -->
    <div class="recipe-image">
      <img th:if="${recipe.imagePath}" th:src="@{${recipe.imagePath}}" alt="Изображение рецепта" class="img-fluid" style="max-width: 100%; height: auto;">
    </div>

    <ul>
      <li><strong>Ингредиенты:</strong></li>
      <li th:each="ingredient : ${recipe.ingredients}" th:text="${ingredient}">Ингредиент</li>
    </ul>
    <p><strong>Шаги:</strong> <span th:text="${recipe.steps}"></span></p>
    <p><strong>Рейтинг:</strong> <span th:text="${recipe.rating}"></span></p>
    <div>
        <h3>All Comments:</h3>
        <ul>
            <li th:each="comment : ${comments}">
                <p><strong th:text="${comment.user.name}"></strong>: <span th:text="${comment.commentText}"></span></p>
            </li>
        </ul>
    </div>
</body>
</html>
