<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Register</title>
<link rel="stylesheet" href="style.css">
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
	rel="stylesheet">
</head>
<body>

	<div class="form-grid">
		<form id="createUserForm" action="/user" method="post">
			<h2>Register</h2>
			<label for="createName">Name:</label> <input type="text"
				id="createName" name="name" placeholder="Введите имя" required>
			<label for="createEmail">Email:</label> <input type="email"
				id="createEmail" name="email" placeholder="Введите email" required>
			<label for="createPass">Password:</label> <input type="password"
				id="createPass" name="pass" placeholder="Введите " required>
			<button type="submit">Register</button>
		</form>

	</div>

	<script>
        document.getElementById('createUserForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(this);

            fetch(this.action, {
                method: 'POST',
                body: formData
            })
            .then(response => response.text())
            .then(message => {
                document.getElementById('resultText').textContent = message;
            });
        });
    </script>
</body>
</html>